on boot
    # Update cpusets now that processors are up
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/mems 0-3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/background/mems 0
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/system-background/mems 0-1
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/top-app/mems 0-3

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  1048576
    write /proc/sys/net/core/wmem_max  2097152

    # Set min_free_kbytes to keep larger VM chuncks lying around
    write /proc/sys/vm/min_free_kbytes 32768

    # Tune virtual memory
    write /proc/sys/vm/swappiness 160
    write /proc/sys/vm/vfs_cache_pressure 50

    # Allow rild to access /dev/alarm
    chown root radio /dev/alarm
    chmod 660 /dev/alarm

on fs
    # Permissions for LCD
    chown system system /sys/class/lcd/panel/lux
    chown system media_rw /sys/class/lcd/panel/adaptive_control

    # Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/sar_enable
    chown system radio /sys/class/sec/sec_touchkey/sw_reset
    chown system radio /sys/class/sec/sec_touchkey/touchkey_earjack

    # Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/mcu_rev
    chown system radio /sys/class/sensors/accelerometer_sensor/mcu_name

    # Restore the previous batt_capacity_max (if it exists)
    copy /efs/Battery/prev_batt_capacity_max /sys/class/power_supply/battery/batt_capacity_max

on nonencrypted
    # Mount filesystems here because kernel panics if they are mounted earlier
    mount ext4 /dev/block/by-name/EFS /efs                             
    mount ext4 /dev/block/by-name/CPEFS /cpefs                                     
    mount ext4 /dev/block/by-name/CACHE /cache

    # Do operations on newly mounted filesystems
    mkdir /efs/SMS 0775 radio system
    mkdir /efs/mc 0770 radio system
    chown radio system /efs/mc
    chmod 0770 /efs/mc
    chown radio system /efs/mc/mc.dat
    chmod 0640 /efs/mc/mc.dat
    mkdir /efs/pfw_data 0760 spay spay
    mkdir /efs/cpk 0771 radio system
    chmod 0644 /efs/redata.bin
    chmod 0644 /efs/cpk/redata.bin
    chown radio radio /efs/h2k.dat
    chown radio radio /efs/cpk/h2k.dat
    chmod 0644 /efs/h2k.dat
    chmod 0644 /efs/cpk/h2k.dat
    chown system system /efs/drm/h2k
    mkdir /efs/TEE  0770 radio system
    mkdir /efs/bluetooth 0775 radio system
    chown radio system /efs/bluetooth
    chmod 0775 /efs/bluetooth
    export MC_AUTH_TOKEN_PATH /efs
    mkdir /efs/Battery 0775 radio system
    chown radio system /efs/Battery
    chmod 0775 /efs/Battery
    copy /system/vendor/firmware/battery_data.dat /efs/Battery/battery_data.dat
    chmod 0400 /efs/Battery/battery_data.dat
    write /sys/class/power_supply/battery/batt_update_data "/efs/Battery/battery_data.dat"
    chown system system /efs/calibration_data
    chmod 0666 /efs/calibration_data
    chown radio system /efs
    chmod 0771 /efs
    restorecon_recursive /efs
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown radio bluetooth /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    mkdir /efs/FactoryApp 0775 system system
    mkdir /efs/imei 0775 radio system
    mkdir /efs/wifi 0775 radio system
    chown system wifi /efs/wifi/.mac.info
    chmod 0660 /efs/wifi/.mac.info
    copy /efs/Battery/prev_batt_capacity_max /sys/class/power_supply/battery/batt_capacity_max
    copy /sys/class/power_supply/battery/batt_capacity_max /efs/Battery/prev_batt_capacity_max

    chown system cache /cache
    chmod 0770 /cache
    restorecon_recursive /cache
    mkdir /cache/recovery 0770 system cache
    mkdir /cache/backup_stage 0700 system system
    mkdir /cache/backup 0700 system system
    mkdir /cache/lost+found 0770 root root
    mkdir /data/cache 0770 system cache
    mkdir /data/cache/recovery 0770 system cache
    mkdir /data/cache/backup_stage 0700 system system
    mkdir /data/cache/backup 0700 system system


on property:sys.boot_completed=1
    write /proc/sys/vm/dirty_bytes 41943040
    write /proc/sys/vm/dirty_background_bytes 20971520

    # Set best cache size for internal and external storages
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128
    write /sys/block/mmcblk1/bdi/read_ahead_kb 2048

on shutdown
    # Fix permissions then store the current batt_capacity_max value in the EFS partition
    chmod 600 /sys/class/power_supply/battery/batt_capacity_max
    copy /sys/class/power_supply/battery/batt_capacity_max /efs/Battery/prev_batt_capacity_max

